<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>ARki Fixe - ATC 2023</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/index.css">
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            min-width: 100%;
            z-index: -1;
        }
    </style>
</head>

<body>
    <div id="navbar">
        <img src="" alt="ARki Fixe">
        <ul id="navlist">
            <li id="navitem"><a href="#">Home</a></li>
            <li id="navitem"><a href="#">Help</a></li>
        </ul>
    </div>

    <div id="main">
        <div id="graphModal">
            <div id="graphNav">
                <h4 id="graphName">Dados de Ambiente</h4>
                <div id="close"><span onclick="closeDiv('graphModal')"
                        style="font-weight: 900; font-size: xx-large;">&#735;</span></div>
            </div>
        </div>

        <div id="sidebar">
            <div id="close"><span onclick="closeDiv('sidebar')"
                    style="font-weight: 900; font-size: xx-large;">&#735;</span></div>
            <div id="location">
                <img id="locationImg" src="" alt="imagem">
                <h4 id="locationName">Câmara Municipal de Aveiro</h4>
            </div>
            <hr style="color: #fff; width: 90%; size: 5;">
            <div id="sensors">
                <h5>Dados:</h5>
                <form>
                    <input type="radio" id="environment" name="dataType" value="environment">
                    <label for="environment">Ambiental</label><br>
                    <input type="radio" id="air" name="dataType" value="air">
                    <label for="air">Ar</label><br>
                    <input type="radio" id="sound" name="dataType" value="sound">
                    <label for="sound">Som</label><br>
                </form>
            </div>
        </div>
    </div>

    <div id="map"></div>
    <script>
        mapboxgl.accessToken = "pk.eyJ1IjoibXljc2luYSIsImEiOiJja3lvY3E4ZjMwZzkzMm5veWNmc2RiOTJwIn0.MKFG5e9EjMVfKq9WerC7Mg";
        const map = new mapboxgl.Map({
            style: "mapbox://styles/mapbox/satellite-streets-v12",
            center: [{{ lng }}, {{ lat }}],
        zoom: 17,
            pitch: 70,
                bearing: -90,
                    container: 'map',
                        antialias: true
});

        map.on('style.load', () => {
            // Insert the layer beneath any symbol layer.
            const layers = map.getStyle().layers;
            const labelLayerId = layers.find(
                (layer) => layer.type === 'symbol' && layer.layout['text-field']
            ).id;

            var geojson = {
                "type": "FeatureCollection",
                "features": [{
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [-8.654094081124205, 40.64091688395589]
                    }
                }]
            };

            fetch('http://127.0.0.1:9092/get_locations')
                .then(response => response.json())
                .then(data => {
                    data.forEach(item => {
                        geojson.features.push({
                            "type": "Feature",
                            "geometry": {
                                "type": "Point",
                                "coordinates": [item.longitude, item.latitude]
                            }
                        }
                        );
                    });
                })
                .finally(() => {
                    map.addSource("source_circle_500", {
                        "type": "geojson",
                        "data": geojson
                    });

                    map.addLayer({
                        "id": "circle500",
                        "type": "circle",
                        "source": "source_circle_500",
                        "layout": {
                            "visibility": "visible"
                        },
                        "paint": {
                            "circle-radius": {
                                stops: [
                                    [5, 1],
                                    [15, 50]
                                ],
                                base: 2
                            },
                            "circle-color": "#5b94c6",
                            "circle-opacity": 0.6
                        }
                    });
                });

            // The 'building' layer in the Mapbox Streets
            // vector tileset contains building height data
            // from OpenStreetMap.
            map.addLayer({
                'id': 'add-3d-buildings',
                'source': 'composite',
                'source-layer': 'building',
                'filter': ['==', 'extrude', 'true'],
                'type': 'fill-extrusion',
                'minzoom': 15,
                'paint': {
                    'fill-extrusion-color': '#9b8145',

                    // Use an 'interpolate' expression to
                    // add a smooth transition effect to
                    // the buildings as the user zooms in.
                    'fill-extrusion-height': [
                        'interpolate',
                        ['linear'],
                        ['zoom'],
                        15,
                        0,
                        15.05,
                        ['get', 'height']
                    ],
                    'fill-extrusion-base': [
                        'interpolate',
                        ['linear'],
                        ['zoom'],
                        15,
                        0,
                        15.05,
                        ['get', 'min_height']
                    ],
                    'fill-extrusion-opacity': 0.90
                }
            },
                labelLayerId
            );
        });

        let colors = ['#91822e', '#2e7b2e', '#7474f0', '#ef4562', '#594c04', '#10e010', '#3d3d82', '#e60909'];
        let colorIndex = 0;
        let markers = [];
        let counter = 0;

        function loggg() {
            markers.forEach(marker => {
                console.log(marker);
            })
        }

        fetch('http://127.0.0.1:9092/get_locations')
            .then(response => response.json())
            .then(data => {
                data.forEach(item => {
                    let marker = new mapboxgl.Marker({ color: colors[colorIndex++ % colors.length] })
                        .setLngLat([item.longitude, item.latitude])
                        .addTo(map);
                    marker["id"] = counter++;
                    markers.push(
                        marker
                    );
                });
            })
            .finally(() => {
                markers.forEach(marker => {
                    marker.getElement().addEventListener("click", () => {
                        console.log(marker['id']);
                    })
                })
            });
    </script>
    <script src="../static/index.js"></script>
</body>

</html>